body{
    font-family: cursive;
    background-color: red;
}
h2{
    font-size: medium;
    font-family: sans-serif;
    color: coral;
}
.footer_div{
    margin:bottom 50px;
}
.footer_div h4{
    background-color: cornsilk;
    border-radius: 10;
    padding: 5px;
    box-shadow: 5px 5px wheat;
}
.footer_div img{
    width: 70px;

}
.copy_right_footer{
position: fixed;
color: gold;
bottom: 0;
width: 100%;
background-color: mediumspringgreen;
line-height: 3;
text-align: justify;
}
.header_div{
    background-color: palegoldenrod;
    color: royalblue;
}


.main_div{
    background: lightpink;
padding: 10px;
margin-top: 15px;
border:3px seashell;
}
.main_div label{
    background: whitesmoke;
    width: 310px;
    padding: 10px;
    margin-bottom: 0px;
    box-shadow: 5px 5px 18px mediumturquoise;
}
#camera,#result{
    border: 2px  solid cyan;
    width: 310px;
    height: 300px;
    box-shadow: 5px 5px 18px lemonchiffon;
}
.main_div button{
    width: 310px;
    font-size: 16px;
    box-shadow: 5px 5px 18px white;
    border: 1px solid;
}